extends layout
block content
	div#main-region.container
		p Here is static content, will be replaced by marionette

	script#static-template(type="text/template")
		p Rendered by marionette

	script#stock-template(type="text/template")
		p!='<%- name %>'

	script#table-template(type="text/template")
		table.table
			caption Resumen de las acciones
			thead
				tr
			tbody
				tr

	script#header-template(type="text/template")
		th!='<%- name %>'

	script#body-template(type="text/template")
		th!='<%- price %>'
		th!='<%- symbol %>'
		th!='<%- ts %>'
		th!='<%- type %>'
		th!='<%- utctime %>'






